<div class='content-header'>
  <h3><%= @poem.title %></h3>
  <h5><%= @poem.author.name %></h5>
  <b><%= simple_format(@poem.metaphor) %></b>
</div>
<div class='content-body'>
  <%= simple_format(@poem.content) %>
</div>
