<div class='content-header'>
  <h1><%= @poem.title %></h1>
  <h2><%= @poem.author.name %></h2>
  <h5><%= simple_format(@poem.metaphor) %></h5>
</div>
<div class='content-body'>
  <%= simple_format(@poem.content) %>
</div>
