<div class='content-header'>
  <h1><%= @short_story.title %></h1>
  <h2><%= @short_story.author.name %></h2>
  <h3><%= @short_story.description %></h3>
</div>
<div class='content-body'>
  <%= @short_story.content %>
</div>
