@import "materialize";

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  .poem, .short-story {
    border-left: #FFFEFB solid thick;
    color: #000000;
    text-decoration: none;
  }
}

#{$a-tags-hover} {
  .poem, .short-story {
    @extend  .z-depth-2;
    background: #F1F2F4;
    border-left: #8E98A4 solid thick;
    color: #0F1824;
  }
}

body {
  background: #FFFEFB;
  color: #0F1824;
}

main {
  margin-bottom: 10vw;
}

nav {
  background: #5D6774;
  padding-left: 5vw;
  padding-right: 5vw;
}

textarea {
    height: auto;
}

.application-body {
  margin-bottom: 5vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vw;
  width: 60vw;
}

.content-header {
  margin-bottom: 2.5vw;
}

.content-header a {
  float: right;
}

.content-header h5 {
  display: inline-block;
}

.footer-text {
  margin-bottom: 5vw;
}

.footer-padding {
  padding-left: 7.5vw;
  padding-right: 7.5vw;
}

.page-footer {
  background-color: #5D6774 !important;
  color: #FFFEFB;
  margin-top: 5vw;
}

.poem, .short-story {
  @extend  .z-depth-1;
  margin-bottom: 2vw;
  padding: 2vw;
}

.toast-error {
  background-color: rgba(255, 0, 0, 0.5);
}
