@import "materialize";

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  .element-container {
    border-left: rgba(255,255,255,0) solid thick;
    color: #000000;
    text-decoration: none;
  }
}

#{$a-tags-hover} {
  .element-container {
    @extend  .z-depth-3;
    border-left: rgba(33,150,243,0.5) solid thick;
    color: #0F1824;
  }
}

body {
  color: #0F1824;
}

main {
  height: auto;
}

nav {
  background: rgb(15,24,36);
  padding-left: 5vw;
  padding-right: 5vw;
}

textarea {
    height: auto;
}

.application-body {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vw;
  padding-bottom: 10vw;
  width: 60vw;
}

.biography, .description, .metaphor {
  text-align: justify;
}

.element-container {
  background-color: rgba(255,254,251,0.8);
  margin-bottom: 2vw;
  padding: 2vw;
  @extend  .z-depth-2;
}

.content-header {
  margin-bottom: 2.5vw;
}

.content-header a {
  float: right;
}

.content-header h5 {
  display: inline-block;
}

.footer-copyright {
  background-color: rgba(15,24,36,0.4) !important;
}

.footer-text {
  margin-bottom: 5vw;
}

.footer-padding {
  padding-left: 7.5vw;
  padding-right: 7.5vw;
}

.page-footer {
  background-color: rgba(15,24,36,0.6) !important;
  color: #FFFEFB;
  margin: 0px !important;
}

.parallax {
  background-image: asset-url('books.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container {
  height: auto;
}

.toast-error {
  background-color: rgba(255, 0, 0, 0.5);
}
