@import "materialize";

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  div {
    color: #000000;
    text-decoration: none;
  }
}

#{$a-tags-hover} {
  div {
    @extend .blue, .lighten-5;
  }
}

body {
  background: #FFFEFB;
  color: #0F1824;
}

nav {
  background: #5D6774;
  padding-left: 5vw;
  padding-right: 5vw;
}

textarea {
    height: auto;
}

.application-body {
  margin-bottom: 5vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vw;
  width: 60vw;
}

.content-header {
  margin-bottom: 2.5vw;
}

.content-header a {
  float: right;
}

.content-header h5 {
  display: inline-block;
}

.toast-error {
  background-color: rgba(255, 0, 0, 0.5);
}
