<div class='navbar'>
  <ul id="short-stories-dropdown" class="dropdown-content">
    <li><a href="/short_stories">Read our Stories</a></li>
    <li><a href="/short_stories/new">Add your Story</a></li>
  </ul>

  <ul id="poems-dropdown" class="dropdown-content">
    <li><a href="/poems">Read our Poems</a></li>
    <li><a href="/poems/new">Add your Poem</a></li>
  </ul>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Short Stories &amp Poems</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#" data-activates="short-stories-dropdown">Short Stories</a></li>
        <li><a class="dropdown-button" href="#" data-activates="poems-dropdown">Poems</a></li>
      </ul>
    </div>
  </nav>
</div>
